.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.histogram {
    margin: auto;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 600px;
    height: 350px;
    background-color: #1111;
    border-radius: 12px;
}
.histogram__item {
    width: 70px;
}
.histogram__item:not(:last-child) {
    margin-right: 12px;
}
